

.autocomplete {
  width: 70%;
  margin: auto;
}

.autocomplete ul li {
  list-style: none;
  padding: 0.5em;
}

.autocomplete ul li:hover {
  background-color: lightgray;
  cursor: pointer;
}

#searchInput,
section {
  width: 100%;
}

#searchInput {
  height: 3em;
}

.section {
  max-height: 300px;
  overflow: auto;
}
