* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel {
    max-width: 889px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    /* overflow: hidden; */
    background-color: black;
}



.left,
.right {
    outline: none;
    border: none;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    position: absolute;
    transition: all 0.3s;
    cursor: pointer;
}

.left {
    top: 250px;
    left: 30px;
}

.right {
    top: 250px;
    right: 30px;
}

.left:hover,
.right:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.dots {
    position: absolute;
    top: 90%;
    left: 45%
}

.dots ul {
    display: flex;

}

.dots li {
    height: 7px;
    width: 7px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.dots li:hover {
    background-color: rgba(255, 255, 255, 0.7);
    width: 30px;
}

.dots li.active {
    background-color: rgba(255, 255, 255, 0.7);
    width: 30px;
}


.sliders {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}



.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-hidden {
    display: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 10%;
}

.text h2,
.text p {
    color: white;
    font-size: 50px;
}